<script>
$(function() {
    $("a", ".createGroupBtn" ).button({icons: { primary: null, secondary: "ui-icon-plusthick" } });
  });
  </script>
  	<div class="groupsTitle"> <h2>Groups:</h2> </div>
<section class="groupsMain">
	<%= render 'show' %>
</section>