<section class='recommendations'>
	<h2>Recommendations</h2>
	<div class='recommendedVideo'> </div>
	<div class='recommendedVideo'> </div>
	<div class='recommendedVideo'> </div>
</section>

<section class='recentVideos'>
	<div id="galleria">
		<% @recentVideos.each_pair do |name, url| %>
		<a href="<%= url  %>"><span class="video" data-description="Posted by: <%= name %>"></span></a>
		<% end %>
	</div><!-- End galleria -->

	<script>
    	Galleria.loadTheme('assets/galleria.classic.js');
	    $('#galleria').galleria({
        clicknext: 'false',
        width:700,
        height:400,
        transition: 'fadeslide',
        thumbCrop: 'height',
        youtube: { height: '330px', width: '330px' }
    });
	    $("iframe",top.document).height(280);
	    $("iframe",top.document).width(420);
	</script>
	<!--<div class="fb-comments" data-href="http://apps.facebook.com/ronvidify/" data-num-posts="3" data-width="470"></div>-->
</section>