<section class='recommendations'>
	<h2>Recommendations</h2>
	<div class='recommendedVideo'> </div>
	<div class='recommendedVideo'> </div>
	<div class='recommendedVideo'> </div>
</section>

<section class='recentVideos'>
	<div id="galleria">
		<% @videos.each do |video| %>
		<%= image_tag video.img_src %>
		<% end %>
	</div><!-- End galleria -->

	<script>
	    $('#galleria').galleria({
        width:500,
        height:500
    });
	</script>
	<script>
    	Galleria.loadTheme('assets/galleria.classic.min.js');
    	Galleria.run('#galleria');
	</script>

</section>