
body
{
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

header
{
	position:relative;
	/*border-radius: 3px;
	box-shadow: 0 0 2px #284B7E;*/
	width: 800px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	opacity: 1;

	/* fixes a dumb margin collapse with header */
	overflow: hidden;
}

h1
{
	position: absolute;
	margin: 0px;
	text-align: center;
	color: #284B7E;
	bottom: 20px;
	left: 70px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

nav.navBtns
{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	padding-left: 258px;
	background: rgba(40,75,126,0.8);
}

h2
{
	margin: 15px 0px 14px 0px;
	text-align: left;
	color: #284B7E;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

section.recommendations
{
	position: relative;
	height: 200px;
	width: 786px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

div.recommendedVideo
{
	height: 130px;
	width: 250px;
	float: left;
	padding: 5px;
}

section.recentVideos
{
	margin: 0px 20px 20px 20px;
	padding-bottom: 80px;
}

#galleria
{
	margin-top: 70px;
}

div.fb-comments
{
}

div.friendSelector
{
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

img.imgCheckBox
{
	cursor: pointer;
	border-radius: 4px;
	float: left;
}

img.imgCheckBox:hover
{
	opacity:.6;
    filter: alpha(opacity=60);
}

img.imgChecked
{
	opacity:.6;
    filter: alpha(opacity=60);
    box-shadow: 0 0 1px 2px #000000;
}

div.friend
{
	width: 100%;
	height: 54px;
	margin-bottom: 5px;
	padding: 2px 0px 2px 2px;

	/* fixes a dumb margin collapse that messes up vertical centering of friendName */
	overflow: hidden;
}

div.friendName
{
	margin: 13px 0px 0px 60px;
	width: 225px;
}

button.search
{
	width: 200px;
	height: 50px;
}

section.groupsMain
{
	position: relative;
	padding: 8px;
}
div.groupsTitle
{
	padding: 5px;
}

div.createGroupBtn
{
	font-size: 12px;
	position: absolute;
	left: 550px;
}

#accordion
{
	width: 500px;
}